# Specify NPM Registry where the @c_dzivkovic scoped package should ne published
# NOTE: This file can also be placed in your $HOME directory for all projects to use,
# so in that case you can remove it from the project directory (e.g this one).
@c_dzivkovic:registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
